@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer components{
    /* Layout Classes */
    .page-format{
      @apply px-[16px] md:px-[64px] 2xl:px-[128px]
    }
    .width-cap{
      @apply max-w-[1920px]
    }
    
  }

*{-webkit-user-drag: none;}
body {
    position: relative;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


::-moz-selection { /* Code for Firefox */
  color: white;
  background-blend-mode:difference;
}

::selection {
  color: white;
  background-blend-mode:difference;
}